/* ListAppointment.css */
.container {
  max-width: 1400px;
  margin: auto;
  margin-top: 2%;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  text-decoration: underline;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 18px;
}

.sort-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #eee;
  margin-bottom: 5%;
}

.appointment-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #e2e6ea;
  font-size: 20px;
}

.actions-cell {
  display: flex;
  gap: 10px;
}

.accept-btn {
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  background-color: rgba(40, 167, 70, 0.7764705882); /* Green */
  color: white;
  font-weight: bold;
}

.accept-btn:hover {
  background-color: rgba(33, 136, 55, 0.7764705882); /* Darker green on hover */
}

.cancel-btn {
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  background-color: rgba(220, 53, 70, 0.7411764706); /* Red */
  color: white;
  font-weight: bold;
}

.cancel-btn:hover {
  background-color: rgba(200, 35, 51, 0.7960784314); /* Darker red on hover */
}

.delete-btn,
.view-btn {
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  background-color: #f8f9fa;
  color: #333;
}

.delete-btn:hover {
  background-color: #f1f1f1;
}

.view-btn:hover {
  background-color: #e2e6ea;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.page-btn, .page-number {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ffffff;
}

.active {
  background-color: #007bff;
  color: white;
}

.page-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.page-number.active {
  font-weight: bold;
  color: #000;
}
